---
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';

const selectOptions2 = [
  "1",
  "2",
  "2+",
]

---

<form name="Contact Form" method="POST" action="/events" data-netlify="true">
  <FormInput type="text" label="Name" name="Name" placeholder="Some Dragon" />
  <FormInput type="email" label="Email" name="Email" placeholder="dragon@example.com" />
  <FormSelect label="RSVP for which event?" options="1" />
  <FormSelect label="How many are attending?" options={selectOptions2} />
    <p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <FormTextarea label="Message" name="Message" placeholder="Leave details for a dragon here..." />
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
