---
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';

const selectOptions = [
  "Housewarming | 10.15.2022",
]

const selectOptions2 = [
  "1",
  "2",
  "2+",
]

---

<form name="Contact Form" method="POST" action="/contact-thank-you" data-netlify="true">
  <FormInput type="text" label="Name" name="Name" placeholder="Some Dragon" />
  <FormInput type="email" label="Email" name="Email" placeholder="dragon@example.com" />
  <FormSelect label="RSVP for which event?" options={selectOptions} />
  <FormSelect label="How many are attending?" options={selectOptions2} />
  <FormTextarea label="Message" name="Message" placeholder="Leave details for a dragon here..." />
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
