---
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';


---

<form name="Contact Form" method="POST" action="/events" data-netlify="true">
  <FormInput type="text" label="Name" name="Name" placeholder="Some Dragon" />
  <FormInput type="email" label="Email" name="Email" placeholder="dragon@example.com" />
  <FormInput type="text" label="How many are attending?" name="Attendees" placeholder="1, 2, etc" />
  <FormTextarea label="Message" name="Message" placeholder="Leave details for a dragon here..." />
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
