---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | The Dragons',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Us</h1>
			<p>
				Hello! We are the Dragons, and yeah we know that sounds spectacularly crazy but that is who we are through and through. 
				We, a couple of California kids, fell in love and decided that in everything we would find an equal partnership.
			</p>
			<p>	
				Many facets of our lives began to take on that guiding principle and that is why we mutually changed our last names, and so was born the family of Dragon.
				The name is pretty awesome, of course, but more importantly it lends to our fierce protection and love for those we care about. Some might say legendary ;)
			</p>
			<p>
				Thanks for checking out our site, feel free to look around but we hope to see you in person soon!

			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/elopement.jpeg"
        alt="Dragon Elopement"
        id="about-hero-image"
      />
    </picture>
	</HeroSection>
</Layout>
